@import "variables";
@import "card";
@import "card__cont-text";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: $Very-dark-blue;
    color: $White;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

